*{
    /* margin: 0;
    padding: 0; */
}

.container{
    display: grid;
    
}

.header{
    display: grid;
    grid-template: 1fr 2fr / 3fr 1fr;
}

#search{
    display: flex;
    border: none;
    outline: none;
    border-radius: 50px;
    background-color: rgb(226,232,240);
    margin: 8px 5px;
    height: 30px;
    width: 30vw;
}

textarea:focus, input:focus{
    outline: none;
}

svg{
    padding: 10px 0;
    width: 25px;
    height: 25px;
}

.name{
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
}